html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

/*#map {*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/

#wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

#menu {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}